<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/instants"></ion-back-button>
		</ion-buttons>
		<ion-title>Ajouter</ion-title>
		<ion-buttons slot="primary">
			<ion-button>
				<ion-icon name="checkmark" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let photo of photoService.photosCamera; index as position">
				<ion-img [src]="photo.webviewPath"></ion-img>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button (click)="addPhotoToGallery()">
			<ion-icon name="camera"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>